.th-btn {
    position: relative;
    display: inline-block;
    margin: 0 0 $SPACING;

    padding-top: $SIZE_SM;
    padding-right: $SIZE_SM * 2;
    padding-bottom: $SIZE_SM * 1.0625;
    padding-left: $SIZE_SM * 2;

    border: 0;
    background-color: $COLOR_1;
    color: #ffffff;

    font-family: $FONT;
    font-size: $SIZE;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    text-align: center;

    cursor: pointer;


    @include transition(background-color 300ms ease-out);

    &:hover {
        background-color: shade($COLOR_1, 20%);
    }
}

.th-btn_fill {
    display: block;
}

.th-btn_alt {
    background-color: $COLOR_GREY_LIGHT;
    color: $COLOR_GREY_DARK;

    &:hover {
        background-color: shade($COLOR_GREY_LIGHT, 20%);
    }
}
