/*

Element Styles
==============

*/

body {
    font-family: $FONT;
    font-size: $SIZE;
    color: $COLOR_GREY_DARK;
    line-height: 1.4;
}

a {
    color: $COLOR_1;
    text-decoration: none;
}

fieldset {
    border:none;
    border-bottom:1px solid #ccc;
    padding:0;
    margin:0;
    margin-bottom:15px;
}

p {
    margin-bottom: $SIZE;
}
