/*

Element Styles
==============

*/

body {
    font-family: $FONT;
    font-size:$SIZE_LG;
    color: $COLOR_GREY_DARK;
    line-height: 1.4;
}

a {
    color: $COLOR_1;
    text-decoration: none;
}

fieldset {
    border:none;
    border-bottom:1px solid #ccc;
    padding:0;
    margin:0;
    margin-bottom:15px;
}

label {
    display:inline-block;
    vertical-align:top;
    width:15em;
    margin-right:1em;
}

input {
    vertical-align:middle;
}

input[type=text],
input[type=number] {
    padding:3px;
}
