$FONT: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
$FONT_ALT: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$COLOR_GREY: #666666;
$COLOR_GREY_LIGHT: #dddddd;
$COLOR_GREY_DARK: #222222;

$COLOR_1: #008CBA;

$SIZE: 10px;
$SIZE_SM: $SIZE * 0.75;
$SIZE_LG: $SIZE * 1.25;
$SPACING: $SIZE * 1.25;
