<!DOCTYPE html>
<html ng-app="optionsApp">
<head>
    <meta charset="UTF-8">
    <title>Nerdery Timesheet Helper Options</title>
    <link rel="stylesheet" href="assets/styles/options.css" />
</head>
<body ng-controller="optionsController">
    <div class="row">
        <div class="row-col">
            <div class="bordered bordered_top">
                <h1 class="th-hdg th-hdg_1">Nerdery Timesheet Helper Options</h1>
            </div>
            <!-- OPTIONS -->
            <form action="">
                <fieldset class="bordered bordered_bottom">
                    <legend class="th-hdg th-hdg_2">Keybindings</legend>
                    <p class="txt txt_sm">Press ESC or BACKSPACE to clear. Tab to accept.</p>

                    <ul class="vList">
                        <li ng-repeat="binding in bindings">
                            <label class="th-label" for="{{binding.id}}">{{binding.label}}</label>
                            <input class="th-field" type="text" name="{{binding.id}}" id="{{binding.id}}" data-keybinder />
                        </li>
                    </ul>
                </fieldset>
                <div>
                    <a href="#" ng-click="save" class="th-btn">Save</a>
                    <button ng-click="save" class="th-btn" type="submit">Save</button>
                    <button ng-click="reset" class="th-btn th-btn_alt" type="reset">Reset</button>
                    <!-- NOTIFICATIONS -->
                    <div class="status {{status.type}}">{{status.message}}</div>
                </div>
            </form>

            <p class="txt">
                Want the source code? <a href="https://github.com/bitwalker/NerderyTimesheetHelper/">Check out the GitHub!</a><br />
            </p>
        </div>
    </div>

    <!-- EXTERNAL SCRIPTS -->
    <script src="assets/vendor/angular/angular.js"></script>
    <script src="assets/vendor/lodash/dist/lodash.js"></script>
    <script src="assets/scripts/options.js"></script>
</body>
</html>
