@import "bourbon";

@import "base/vars";
@import "base/reset";
@import "base/elements";

@import "modules/row/row";
@import "modules/btn/btn";
@import "modules/txt/txt";
@import "modules/hdg/hdg";
@import "modules/bordered/bordered";
@import "modules/label/label";
@import "modules/field/field";

#status {
	width: 300px;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
}

#status.success {
	background-color: #B9F2B9;
}

#status.error {
	background-color: #F29688;
}
