@import "bourbon";

@import "base/vars";
@import "base/reset";
@import "base/elements";

@import "modules/btn/btn";

.row {
	margin-bottom:2em;
}

.comment {
	display:block;
	color:#aaa;
	font-size:10px;
	margin-top:0.5em;
}

.row-textarea label {
	width:auto;
	display:block;
	margin-bottom:0.5em;
}

textarea {
	width:50em;
	height:20em;
}

input[name='search.max_visible'],
input[name=init_depth] {
	width:5em;
}

input[name="dnd.xpath_quote"] {
	width:1em;
}

input[type=submit] {
	font-size:20px;
}

#status {
	width: 300px;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
}

#status.success {
	background-color: #B9F2B9;
}

#status.error {
	background-color: #F29688;
}
