@import "bourbon";

@import "base/vars";
@import "base/reset";
@import "base/elements";

@import "modules/row/row";
@import "modules/btn/btn";
@import "modules/txt/txt";
@import "modules/hdg/hdg";
@import "modules/bordered/bordered";
@import "modules/label/label";
@import "modules/field/field";

.status {
	padding: 5px;
	text-align: center;
	display: inline-block;
}

.status_success {
	background-color: #B9F2B9;
}

.status_error {
	background-color: #F29688;
}
